body {
    margin-top: 50px;
}

.pad-top-10 { padding-top: 10px; }
.pad-top-20 { padding-top: 20px; }
.pad-top-30 { padding-top: 30px; }

.well {
    background: #fff !important;
}

.top-bar {
    height: 5px;
    background: #ca2129;
    margin-bottom: 1px;
}

.navbar {
    margin-bottom: 1px; 
}

.navbar li:hover {
    background: #e7e7e7;
}

li.login a {
    background: #ca2129;
    margin-bottom: -10px !important;
    color: #ffffff !important;
    padding-right: 22px;
    padding-left: 22px;
}

li.login a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #ccc;
}

li.register a {
    background: #2f98cc;
    margin-bottom: -10px !important;
    color: #ffffff !important;
}

li.register a:hover, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #ccc;
}


.jumbotron {
    background: url(../images/waterdrop.jpg) no-repeat 50% 0;
    height: 350px;
    padding: 0;
}

.jumbotron [class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86, 61,124, .15);
    border: 1px solid rgba(86, 61,124, .2);
    overflow: auto;
    height: 350px;
}

.jumbotron-content {
    color: #ffffff;
}

.jumbotron h1 {
    font-size: 34px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.bluebox {
    background: #2e98cc;
    overflow: hidden;
    height: 230px;
    color: #fff;
    padding: 0 10px;
    font-size: 120%;
}

.bluebox a.readmore {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background: #2b8cbc;
    padding: 10px 15px;
    color: #fff;   
}

.bluebox a.readmore:hover {
    background: #20749d;
}

.redbox {
    background: #ca2129;
    overflow: hidden;
    height: 230px;
    color: #fff;
    padding: 0 10px;
    font-size: 120%;
}

.redbox a.readmore {
    position: absolute;
    bottom: 15px;
    left: 30px;
    background: #bf1e26;
    padding: 10px 15px;
    color: #fff;   
}

.redbox a.readmore:hover {
    background: #86161b;
}


.media-body{
    font-size: 120%;
}

/* .panel-default > .panel-heading {
    background: #2e98cc;
    color: #fff;
} */


.panel a:hover{
    text-decoration: none;
}

.panel-blue-heading{
    background:#2e98cc !important;
    color:#ffffff !important;
}


.grey-list a.list-group-item.active, .grey-list a.list-group-item.active:hover, .grey-list a.list-group-item.active:focus {
    background: #f4f4f4;
    border: #ccc;
    color: #666;
}

#blog img{
    width:100%;
    margin:5px 0 15px 0;
    border:1px #cccccc solid;
    padding:3px;
    border-radius:5px;
}

#blog a.readmore{
    background:#2b8cbc;
    padding:10px 15px;
    color:#ffffff;
    text-align:center;
    display:block;
    margin-top:20px !important;
    border-radius:5px;
}

#blog a.readmore:hover{
    background:#20749d;
}

small{
    padding:5px;
    background:#f4f4f4;
    border:#dddddd solid 1px;
    border-radius:10px;
    width:100%;
    display:block;
    margin:5px 0 10px 0;
}

iframe.gmap{
    width:100%;
    border:#cccccc 1px solid;
    border-radius:10px;
    padding:4px;
}

.greywell{
    background:#f4f4f4 !important;
}

#tooltip1,#tooltip2{
    color:#ffffff;
    border-bottom:dotted 1px #ffffff;
    padding-bottom:2px;
}

#tooltip1:hover,#tooltip2:hover{
    text-decoration: none;
}

.tab-pane{
    padding-top:10px;
}



footer {
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
    background: #f4f4f4;
}