body {
  bg
  background: #000;

  bg+
  background: #fff url() 0 0 no-repeat;

  bd
  border: ;

  bd+
  border: 1px solid #000;

  bt
  border-top: ;

  bt+
  border-top: 1px solid #000;

  bdb+
  border-bottom: 1px solid #000;

  bgi
  background-image: url();

  bd:n
  border: none;

  p10
  padding: 10px;

  p10%
  padding: 10%;

  p10em
  padding: 10em;

  p10-10-10-10
  padding: 10px 10px 10px 10px;

  p10em-10em
  padding: 10em -10em;

  c
  color: #000;

  c:r
  color: rgb(0, 0, 0);

  c:ra
  color: rgba(0, 0, 0, .5);

  op
  opacity: ;



}
