body {
  background: rgba(0,0,0,0.9);
  margin: 0;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* usando pseudo classe para adicionar um conteudo a mais no dom */
.showcase::after {
  content: '';
  height: 100vh;
  width: 100%;
  background-image: url(https://image.ibb.co/gzOBup/showcase.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  /* efeito de blur */
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1s;
}

.showcase:hover::after {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.showcase:hover .content {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1s;
}

.content .logo {
  height: 180px;
  width: 180px;
}

.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}


.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #f4f4f4;
}

footer {
  padding: 2.2rem;
}
footer p {
  margin: 0;
}

/* small screen */
@media screen and (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content {
    top: 5%;
    margin-top: 5px;
  }
  .content .logo {
    height: 140px;
    width: 140px;
  }

  .content .text {
    display: none;
  }  
  .grid-3, .grid-2 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .services div {
    border-bottom: 1px dashed #333;
    padding: 1.2rem 1rem;
  }
}

/* landscape media query */
@media(max-height: 500px) {
  .content .title, .content .text { 
    display: none;
  }
  .content {
    top: 0;
  }
}